src/br/com/webinside/runtime/plugins.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from plugins.xml by XMLBuddy -->
<!ELEMENT CLASS (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT FUNCTION EMPTY>
<!ATTLIST FUNCTION
	CLASS CDATA #REQUIRED
	ID CDATA #REQUIRED
>
<!ELEMENT FUNCTIONS (FUNCTION)>
<!ELEMENT HINT (#PCDATA)>
<!ELEMENT IN (PARAMETER)>
<!ELEMENT NAMESPACE (#PCDATA)>
<!ELEMENT OUT (PARAMETER)>
<!ELEMENT PARAMETER (DESCRIPTION,HINT?,VALUE?)>
<!ATTLIST PARAMETER ID NMTOKEN #REQUIRED>
<!ELEMENT PARAMETERS (IN,OUT)>
<!ELEMENT PLUGIN (TITLE,CLASS,TYPE,USEDIN,PARAMETERS)>
<!ATTLIST PLUGIN PID CDATA #REQUIRED>
<!ELEMENT PLUGINS (PLUGIN)>
<!ELEMENT REGISTER (NAMESPACE,FUNCTIONS,PLUGINS)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT USEDIN (#PCDATA)>
<!ELEMENT VALUE (#PCDATA)>
